<div class="footer">
    <div class="row justify-content-center row-width footer-color mt-4 mb-2">
        <div class="col-sm-6 col-md-4 font-normal text-m">
            <p class="font-medium heading-color mt-2">Address</p>
            <p class="">Farm cart PVT.Ltd.</p>
            <p class="">Mandal Nagar, Thattikoodam</p>
            <p class="">Ernakulam-683104</p>
            <p class="">Phone. 8090976890</p>
            <p class="">Email. ahisd@kk.co</p>
        </div>
        <div class="col-sm-6 col-md-4 font-normal text-m">
            <p class="font-medium heading-color mt-2">Let us help you</p>
            <p class="">Account</p>
            <p class="">Wholesale/Bussiness account</p>
            <p class="">FAQs</p>
            <p class="">Contact us</p>
        </div>
        <div class="col-sm-6 col-md-2 font-normal text-m">
            <p class="font-medium heading-color mt-2">Other</p>
            <p class="">Careers</p>
            <p class="">Private Label</p>
            <p class="">Privacy Policy</p>
            <p class="">Return Policy</p>
        </div>
        <div class="col-sm-6 col-md-2 d-flex align-items-center justify-content-center text-center">
            <img src="../../../../assets/images/logo80px.png" alt="logo" class="footer-logo">
        </div>
    </div>
    <hr class="line">
    <div class="row align-items-center row-width my-md-4">
        <div class="col-sm-8">
            <p class="font-normal text-m copyright-color">Copyright © farm-cart.com. All rights reserved.</p>
        </div>
        <div class="col-sm-4 social-link">
            <img src="../../../../assets/images/instagram.png" alt="instagram" class="social-img px-3">
            <img src="../../../../assets/images/twitter.png" alt="twitter" class="social-img px-3">
            <img src="../../../../assets/images/facebook.png" alt="facebook" class="social-img px-3">
        </div>
    </div>
</div>
